<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <script src="https://kit.fontawesome.com/5e31a87df8.js"  defer></script>
    <script src="/scripts/script.js" defer></script>
</head>

<body>

<div id=""  class="myOverlay">
   <!--  <span class="closebtn" title="close overlay"> &#215 </span> -->
    <div class="wrap">
        <h2>Enter your Email to reset password</h2>
        <form action="/forgot-password" method="POST" id="sendMailForm">
            <input  type="email" placeholder="Enter Your Email" name="email" required>
            <button class="sendMailBtnFg" type="submit"> Receive link</button>
            </form>
    </div>
</div>

<%- include('../includes/end.ejs') %>