<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <script src="https://kit.fontawesome.com/5e31a87df8.js"  defer></script>
    <script src="/scripts/script.js" defer></script>
</head>

<body>

<div id=""  class="myOverlay">
    <div class="wrap">
        <h1>Password has been reset for <%= email %></h1>
        <form action="/login" method="GET" id="sendMailForm">
            <button class="sendMailBtnFg" type="submit"> Click to go to Login Page</button>
            </form>
    </div>
</div>

<%- include('../includes/end.ejs') %>