<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <script src="https://kit.fontawesome.com/5e31a87df8.js"  defer></script>
    <script src="/scripts/script.js" defer></script>
</head>

<body>

<div id=""  class="myOverlay">
   <!--  <span class="closebtn" title="close overlay"> &#215 </span> -->
    <div class="wrap">
        <h2>Reset password for <%= email %></h2>
        <form action="" method="POST" id="sendMailForm">
            <input  type="password" placeholder="Enter Your New Password" name="password" required>
            <input  type="password" placeholder="Confirm Your New Password" name="password2" required>
            <button class="sendMailBtnFg" type="submit"> Reset Password</button>
            </form>
    </div>
</div>

<%- include('../includes/end.ejs') %>